@font-face {
  font-family: 'NeuropoliticalRg-Regular';
  src: url('NeuropoliticalRg-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improve loading performance */
}

